<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ejs Document</title>
</head>
<body>
    <h1><%= post.title %>  Time to Learn Ejs Document</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, officia soluta suscipit est aperiam molestias sunt sint, repellendus dignissimos pariatur quasi ad unde exercitationem dolore aliquid rem culpa sequi eligendi!</p>
    
    <p><%= new Date() %> </p>

    <% for(let p of posts) {%>
        <li>
            <%=p.title %> By <%= p.author %> 
        </li>
        <% } %> 
</body>
</html>