<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Document</title>
</head>

<body>
    <h1>Ejs is running now</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias tempora laborum voluptatum maxime suscipit sapiente sint est! Similique explicabo dolores ipsum, nihil provident eum accusamus, doloribus officia facere ut quisquam.</p>

</body>

</html>